.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
}

.splash-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Space below the image */
}

.splash-image {
  max-width: 80px; /* Reduce max width of the image */
  max-height: 80px; /* Reduce max height of the image */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image is properly cropped if needed */
}

.splash-title-container {
  text-align: center;
  color: rgb(195, 74, 74); /* Adjust color based on your theme */
  font-size: 1.2rem; /* Reduce the font size of the title */
}

/* Adjust animation size */
.splash-animation {
  width: 80px;  /* Adjust the animation width */
  height: 80px; /* Adjust the animation height */
}
